.buttons-container {
    width: 430px;
    margin: auto;
}
#group-switch {
    width: 430px;
}
#group-switch > div {
    width: 229px;
    margin-left: 100px;
}
#group-switch div p {
    width: 77.3px;
}
.number-button{
    height: 24px;
    width: 24px;
    position: relative;
    top: 2px;
    border-radius: 50%;
    background-color: rgba(42,47,54,0.8);
    color: #fff;
    border: 1px solid transparent;
}
.number-button svg {
    margin-left: 4px;
    margin-top: 4px;
}
.number-button:hover {
    background-color: #FF8C08;
    border-color: #2A2F36;
    color: #2a2f36;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
}
.submit-button, .modal-button {
    height: 30px;
    width: 132px;
    margin: 10px 31px 10px auto;
    background-color: rgba(42,47,54,0.8);
    color: #fff;
    text-align: center;
    border: 2px solid transparent;
}

.submit-button {
    margin-bottom: 20px;
}
.submit-button:hover {
    border-color: #2A2F36;
    background-color: #FF8C08;
    color: #2A2F36;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
}
.modal-button {
    margin: 6px 10px;
    background-color: rgba(42,47,54,0.8);
    color: #FFF;
}
.modal-button:hover {
    border-color: #2A2F36;
    background-color: #FF8C08;
    color: #2A2F36;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
}
.modal-button:nth-child(2) {
    margin-left: 53px;
}
.modal-button p {
    color: #fff;
}