.form-input {
    height: 32px;
    width: 428px;
    border: 1px solid rgba(42, 47, 54, 0.55);
    margin: auto auto 8px auto;
}
.text-input {
    width: 428px;
}
.datetime-input, .w-50 {
    width: 208px;
}
.datetime-input input, .w-50 input {
    width: 192px !important;
}
.w-50:nth-of-type(odd), .w-75{
    margin-left: 31px;
}
.w-50:nth-of-type(even), .w-25{
    margin-left: 10px;
}
#time-input-container {
    margin-left: 31px;
}
#date-input-container {
    margin-left: 10px;
}
.form-input input {
    height: 28px !important;
    border: 1px solid transparent;
    padding-left: 12px;
    font-size: 15px;
    font-family: 'Futura', sans-serif;
}
.form-input input:focus {
    outline: none;
}
.form-input input::placeholder {
    color: #424754;
    font-family: 'FuturaLight', sans-serif;
}
.form-input p {
    color: #424754;
}
.datetime-input input, .form-input p {
    display: inline-block;
    margin: 0;
}
.datetime-input input {
    border: 1px solid transparent;
    font-size: 15px;
    line-height: 30px;
    height: 28px !important;
}
.text-input input{
    width: 410px;
}
.text-input input::placeholder{
    font-family: 'FuturaLight';
}
.comments-form {
    height: 136px;
}